body {
	margin: auto;
	font-family:'PT Sans', sans-serif;
}

.header {
	margin: 20px;
	padding: 5px;
	padding-right: 15px;
	display: flex;
	margin-top: 5px;
	background: linear-gradient(to top, #c4c4c4d3, #ffffff);
	border-radius: 5mm;
	align-content: center;
	justify-content: space-between;
}

.logo {
	margin-left: 0px;
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.tagkopf {
	font-weight: bold;
	font-size:20px;
}
.nav {
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 12px;
	list-style-type: none;
}

.nav li a .icon {
	color: black;
	font-size: 7mm;
}

.box {
	margin: 50px;
	width: fit-content;
	height: fit-content;
	border: 10px solid black ;
	background:linear-gradient(to top, rgb(237, 234, 231), rgb(109, 26, 26));
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	padding: 5mm;
	clear: left;
}

.content {
	width: 250px;
}
.schreib {

	font-style: italic;
	font-weight: lighter;
	font-size: 15px;
}

.footer {
	height: 5cm;
	background-color: rgb(113, 113, 113);
	justify-content: center;
	text-align: center;
	padding: 25px;
}

.footer .b {
	float: left;
	border: solid;
	margin-right: 25px;
	margin-left: 25px;
}


.footer h6 {
	clear: left;
	font-weight: bold;
	text-shadow: 2px 2px 8px rgb(194, 152, 62);
	text-decoration-line: underline;
	text-decoration-color: rgb(244, 244, 244);
	text-decoration-style: dashed;
}