body 
{
	font-family: 'PT Sans', sans-serif;
	margin: auto;
}

#box
{
	margin: 50px;
	border: 10px solid black ;
	background:linear-gradient(to top, rgb(237, 234, 231), rgb(109, 26, 26));
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	padding: 5mm;
}
#gif{
	width: 250px;
}
#Beschreibung{
	border: solid;
}

.header{
	color: #000000;
	padding-left: 16px;
	padding-right: 16px;
	font-weight: bold;
	font-size: 22px;
	border: solid;
}
#Kopf 
{
	position: sticky;
	top:0cm;
	background: linear-gradient(to top, rgb(210, 209, 209), #FFFFFF);
	border: 0px;
	border-radius: 5mm;
	 

}

#logo{
	margin-left: auto;
	width: 60px;
	height: 60px;
	vertical-align: middle;	
}
#sear{
	position: relative;
	height: 10px;
	cursor: pointer;
}

#lup{
	height: 25px;
	opacity: 70%;
	display: flex;
	margin-right: 0;
	border: solid;
}
.schreib{
	font-style: italic;
	font-weight: lighter;
	font-size: 15px;
}
#publicity{
	width:20px;
}

#subscribe{
	font-style: italic;
	text-decoration-line: underline;
	
}
